:root {
  --color-white: #fff;
  --color-light-gray: #ddd;

  --color-blue: #2b59c3;
  /* background */
  --color-background-1: #f5f5f7;
  --color-background-2: #f2f4f8;
  --color-background-3: #f8f8f8;

  /* text */
  --color-text-1: #000;
  --color-text-2: #777;
  --color-text-3: var(--color-text-3);

  /* a */
  --color-link-1: #111;

  /* button */
  --color-button-1: #e5e7eb;
  --color-button-2: #d1d5db;
  --color-button-hover: #2c2c2c;

  /* social */
  --color-instagram: #e1306c;
  --color-facebook: #1877f2;
  --color-twitter: #1da1f2;
  --color-youtube: #ff0000;

  /* dark-mode */
  --dark-background-1: #141425;
  --dark-background-2: #27273a;
  --dark-orange: #dd6e00;
  --dark-blue: #12b7ff;
  --dark-red: #f64136;
  --dark-green: #4cb050;
  --dark-yellow: #ea9e24;
}
